    body{
        text-align:center;
        padding-top: 10px;
    }

    .ng-valid{
        background-color:white;
        color:black;
    }

    .ng-invalid{
        color:black;
        border: 2px dashed red;
    }

    .info{
        border: 2px solid grey;
        position:center;
        border-radius: 4px;
        padding: 5px;
        list-style-type:none;
    }

    table, th , td{
        border: 1px solid black;
        border-collapse: collapse;
    }

    th,td{
        padding: 5px;
    }
    th{
        text-align: center !important;
        font-size: 17px;
    }

    p {
        line-height: 1.75;
    }

    .row{
        padding-top: 70px !important;
    }

    a:hover {
        color: #21ca92;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .panel-heading.active  {
        background-color: #809fff !important;
    }

    .panel-heading.hover {
        background-color: #193791 !important;

    }
    .panel-body{
        border : 1px solid #809fff;
        height: 350px;
    }

    .btn{
        margin-left: 5px;
    }
